

*{
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}


.font-face{
    font-family: "Neue Machina";
    src:url("../fonts/NeueMachina-Regular.otf")
}



body{
    color: #fff;
    background: rgb(131,58,180);
    background: linear-gradient(-45deg, rgba(131,58,180,1) 0%, rgba(29,67,253,0.865983893557423) 42%, rgba(76,252,69,1) 100%);
    
   
}

.main{
    padding: 1rem;
    margin: .5rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    background: rgb(131,58,180);
    background: linear-gradient(-45deg, rgba(131,58,180,1) 0%, rgba(29,67,253,0.865983893557423) 42%, rgba(76,252,69,1) 100%);
    
   
}

